body {
    font-family: Arial;
    background-color: #3c7394;
    color: white;
    padding: 20px;
}

h1 {
    font-family: Verdana;
    color: #9500ff;
    background-color: #29345a;
    padding: 10px;
}

h2 {
    font-family: Tahoma;
    color: #c6d5ff;
}

p {
    color: #eeeeee;
}

a {
    color: orange;
}

ul, ol {
    margin-left: 20px;
}

img {
    margin-right: 10px;
}
